<div class="container" style="max-width: 100%; min-height: 100vh; background-color: #dae0e6; padding-bottom: 20px">
  <div class="row">
    <div class="col col-md-8 sort-container white-block">
      <h1 style="padding: 5px">Create a post</h1>
      <hr>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput
               [(ngModel)]="title"
               type="text"
               name="title"
               required
               minlength="3"
               maxlength="20"
        >
        <div class="alert-danger" *ngIf="title && (title.length < 3 || title.length >20)">
          <div *ngIf="title.length === 0">Title is required</div>
          <div *ngIf="title.length < 3">
            Title must be at least 3 characters
          </div>
          <div *ngIf="title.length > 20">
            Title must be at most 20 characters
          </div>
        </div>
      </mat-form-field>
      <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="content"></angular-editor>
      <br>
      <button style="background-color: #FFC500; float: right" mat-raised-button color="accent" (click)="createPost()" [disabled]="isDisabled() || loading || !!title.errors">Create post</button>

    </div>
    <div class="col col-md-3 sort-container white-block about">
      <h2 style="
         background-image: url('https://media.discordapp.net/attachments/951109231099133972/971419158505984050/doodad.png');
         color: black;

         background-color: {{forum.color}};">

        <p>About this community</p></h2>

      <p>{{forum.description}}</p>
      <hr style="width: 50%; margin: auto;size: 1px">
      <p style="display: flex; align-content: baseline; align-items: flex-end "> <mat-icon>cake</mat-icon> <label> &nbsp; created {{forum.creationDate | date: "MMM dd, YYYY"}}</label></p>
    </div>
  </div>
</div>
