<div>
  <h1 class="recommendation-title">Community recommendations</h1>
  <p class="item" *ngFor="let forum of forums; let index = index;">
    <a href="/forum/{{forum.id}}">{{index + 1}} - &nbsp;
      <button class="not-disabled" disabled mat-fab style="display: inline; border-radius: 50%; background-color: {{forum.color}}">{{forum.title.charAt(0)}}{{ forum.title.length > 1 ? forum.title.charAt(forum.title.length - 1) : ''}}</button>
      {{forum.title}}</a>&nbsp;
    <button *ngIf="!joinnedForums.includes(forum.id) && !!isUserLogged" style="background-color: #FFC500; border-radius: 60px; padding: 0; float: right; margin-right: 20px"
            mat-raised-button color="accent" (click)="joinForum(forum.id)">Join
    </button>
  </p>
  <button
    style="background-color: #FFC500; border-radius: 60px; padding: 0; width: 90%; display: block; margin: auto; margin-bottom: 10px"
    mat-raised-button color="accent"
    *ngIf="loadMore" (click)="getMore()">Show more
  </button>
</div>
